extends ../base

block vars
  - var title = 'CONTACT'

block body
    section 
         div(class='box col-9 middle animated fadeInLeft')
            h1 Contact
            p UNDER CONSTRUCTION
            p
              a(href='mailto:me@richardcfelix.com', class='link') email: me@richardcfelix.com