 <section>
    <div class="box col-9 middle">
        <span id='thankYou' style='opacity: 0'>
            THANK YOU FOR CONTACTING ME
        </span>
        <form name='form'  ng-submit="submit()" ng-controller="formCtrl">
            <div>
                <input name='name' class='form' ng-model="formData.name" type='text' id='name' placeholder='Name' required/>
            </div>
            <div>
                <input name='email' class='form' ng-model="formData.email" type='email' id='email' placeholder='Email' required/>
            </div>
            <div>
                <textarea name='message' class='form' ng-model="formData.message" id="message" name="message"  placeholder="Message" rows="9" required ></textarea>
            </div>
            <button id='submit' type="submit"  ng-disabled="form.$invalid">SUBMIT</button>
        </form>
    </div>
 </section>


<!--
<form name='form' ng-submit="submit()" ng-controller="formCtrl">

<button id='submit' type="submit" onlick='thankYou()' ng-disabled="form.$invalid">SUBMIT</button>-->
