<div class="padding-bottom"><a href="/about">
        <div class="box boxhover col-9 middle animated zoomIn">
          <h1>About Me</h1>
        </div></a></div>
    <div class="padding-bottom"><a href="/resume">
        <div class="box boxhover col-9 middle animated zoomIn">
          <h1>Resume</h1>
        </div></a></div>
    <div class="padding-bottom"> <a href="/projects">
        <div class="box boxhover col-9 middle animated zoomIn">
          <h1>Projects</h1>
        </div></a></div>
    <div class="padding-bottom"><a href="/contact">
        <div class="box boxhover col-9 middle animated zoomIn">
          <h1>Contact</h1>
        </div></a></div>