<section>
<div class="box col-9 middle fontSize24">    
    <p>
        <h3>TOPGEARNY LOGOS</h3>
        <img class='col-12' src='../../public/img/topgearnyLogo.png'>
        <br/><br/>
        •	Created the logos for their brand using Affinity Designer
        <br/><br/>
           <a href="http://lostman10002.deviantart.com/art/topgearnyLogo-O-3-588541870" target="_blank" class="link tooltip" title='TOPGEARNY'> Deviantart Logo 1:  <i class="fa fa-external-link-square"></i></a>
           <br/>
           <a href="http://lostman10002.deviantart.com/art/topgearnyLogo-3x-588541267" target="_blank" class="link tooltip" title='TOPGEARNY'> Deviantart Logo 2:  <i class="fa fa-external-link-square"></i></a>
           <br/>
    </p>
    
    <p>
        <h3>PrimeX Investment Firm Website</h3>
        <img class='col-12' src='../../public/img/primex.JPG'>
        <br/><br/>
        •	Created the front end for their new website using JavaScript, JQuery, Bootstrap, Google Maps API, HTML and CSS
        <br/>
        •	Created the back end server using Node.js, Express, MongoDB and EJS
        <br/>
        •	Created the login system for employees using PassportJS for password hashing and authorization
        <br/>
        •	Deployed a responsive site to Digital Ocean and configured server using Nginx
            <br/>
        •	Created the logos for their brand using Affinity Designer and Photoshop CC 2015

        <br/><br/>
           <a href="http://primexprime.com" target="_blank" class="link tooltip" title='PrimeX'> Website:  <i class="fa fa-external-link-square"></i></a>
        <br/>
    <a href="https://bitbucket.org/RichardFelix/primex_dev" target="_blank" class="link tooltip" title='PrimeX'>Bitbucket: <i class="fa fa-external-link-square"></i></a>

    </p>
    
    <p>
        <h3>Personal Website</h3>
        <img class='col-12' src='../../public/img/back.png'>
        <br/><br/>
        •	Created the front end using AngularJS, JavaScript, HTML and LESS
        <br/>
        •	Created the back end server using Node.js, Express and Jade  
        <br/>
        •   Configured MX records to use Zoho mail
        <br/>
        •	Deployed a responsive site to Digital Ocean and configured server using Nginx    
        <br/><br/>
             <a href="https://bitbucket.org/RichardFelix/richardcfelix_dev" target="_blank" class="link tooltip" title='RCF'>Bitbucket: <i class="fa fa-external-link-square"></i></a>
    </p>

    <p>
        <h3>Rest API</h3>
        <img class='col-12' src='../../public/img/rest.png'>
        <br/><br/>
        •	Created the front end using HTML, CSS
        <br/>
        •	Created the back end server using Node.js, Express, MongoDB and Jade  
        <br/><br/>
             <a href="https://github.com/RichardFelix/dogRestApi" target="_blank" class="link tooltip" title='RCF'>GitHub: <i class="fa fa-external-link-square"></i></a>
    </p>

    <p>
        <h3>Data Visualization API</h3>
        <img class='col-12' src='../../public/img/hls.PNG'>
        <br/><br/>
        •	Produced a MIT licensed Data Visualization API based on pure JavaScript and AngularJS, HTML, CSS and SVG
        <br/>
        •	Followed the Scrum software development methodology to do agile development
        <br/>
        •	Presented projects to clients and to other Big Data teams
        <br/>
        •	Collaborated with other team members via Git repositories using GitHub and Bitbucket 
        <br/><br/>
    <a href="https://github.com/RichardFelix/HLSv2" target="_blank" class="link tooltip" title='HSLv2'>Github:  <i class="fa fa-external-link-square"></i></a>

    </p>

    <p>
        <h3>Chat App</h3>
        <img class='col-12' src='../../public/img/chat.JPG'>
        <br/><br/>
        •   Created an instant messaging app that allows multiple users to login and chat with each other in real-time
        <br/>
        •	Used Passport.js to allow users to login using Facebook which the app retrieves their name and profile picture
        <br/>
        •	Used MongoDB which I hosted on Mongolab.com to store user information retrieved from Passport.js
        <br/>
        •	Used Socket.io as the real-time engine which updated the chatrooms, users and text in the chatrooms
        <br/>
        •	Used Node.js to create the web server that handles everything the web application needed to function
        <br/>
        •	Deployed project to Heroku 
        <br/><br/>
     <a href="http://chatcat-rfelix.herokuapp.com" target="_blank" class="link tooltip" title='Chat App'>Heroku:  <i class="fa fa-external-link-square"></i></a>
        <br/>
     <a href="https://github.com/RichardFelix/Chat-App" target="_blank" class="link tooltip" title='Github'>Github:  <i class="fa fa-external-link-square"></i></a>

    </p>

    <p>
        <h3>Disaster Analysis</h3>
        <img class='col-12' src='../../public/img/data.png'>
        <br/><br/>
        •   Used Flume to get streaming data from Twitter using a Flume agent with Twitter Tokens
        <br/>
        •	Used Hive to query data in HDFS into two distinct tables for the two disasters
        <br/>
        •	Created an interactive heat map using Google Maps API and exported data
        <br/>
        •	Used D3.js to create a bar chart showing the time of day the tweets were put online
        <br/><br/>
     <a href="https://github.com/TCTseng/Disaster-Analysis-From-Tweets" target="_blank" class="link tooltip" title='Github'>Github:  <i class="fa fa-external-link-square"></i></a>
    </p>
        
    <p>
        <br/><br/>
        <a href="https://github.com/RichardFelix" target="_blank" class="link tooltip" title='GitHub'><i class="fa fa-github fa-2x"></i></a>
        &nbsp;&nbsp;
        <a href="https://bitbucket.org/RichardFelix" target="_blank" class="link tooltip" title='Bitbucket'><i class="fa fa-bitbucket fa-2x"></i></a>
    </p>
  </div>
</section>