<section>
<div class="box col-9 middle">
    <h1>Projects</h1>
    <p>
        <h3>TopGearNY Apparel Company <font color='red'>(Ongoing Project)</font></h3>
        <img class='col-12' src='../../img/topgear.JPG'>
        <br/><br/>
        •	Edited front end using Shopify’s liquid templating language for this startup apparel company.
        <br/>
        •	Used Shopify’s CMS to create page content, rules, links and categories for all products.
        <br/>
        •	Created logo and all social media pages. Also linked social media pages to website for social media sharing.  
        <br/>
        •	Registered domain and setup website on hosting service for initial launch of site slated for this quarter.  
        <br/><br/>
            <a href="http://www.topgearny.com/" target="_blank" class="link tooltip" title='TopGearNY'>Website: <i class="fa fa-external-link-square"></i>
</a>
    </p>

    <p>
        <h3>PrimeX Investment Firm Website</h3>
        <img class='col-12' src='../../img/primex.JPG'>
        <br/><br/>
        •	Created the front end for their new website using JavaScript, JQuery, Bootstrap, Google Maps API, HTML and CSS
        <br/>
        •	Created the back end server using Node.js and Express
        <br/><br/>
           <a href="http://primexprime.com" target="_blank" class="link tooltip" title='PrimeX'> Website:  <i class="fa fa-external-link-square"></i></a>
        <br/>
    <a href="https://bitbucket.org/RichardFelix/primex" target="_blank" class="link tooltip" title='PrimeX'>Bitbucket: <i class="fa fa-external-link-square"></i></a>

    </p>

    <p>
        <h3>Data Visualization API</h3>
        <img class='col-12' src='../../img/hls.PNG'>
        <br/><br/>
        •	Produced a MIT licensed Data Visualization API based on pure JavaScript and AngularJS, HTML, CSS and SVG
        <br/>
        •	Followed the Scrum software development methodology to do agile development
        <br/>
        •	Presented projects to clients and to other Big Data teams
        <br/>
        •	Collaborated with other team members via Git repositories using GitHub and Bitbucket 
        <br/><br/>
    <a href="https://github.com/RichardFelix/HLSv2" target="_blank" class="link tooltip" title='HSLv2'>Github:  <i class="fa fa-external-link-square"></i></a>

    </p>

    <p>
        <h3>Chat App</h3>
        <img class='col-12' src='../../img/chat.JPG'>
        <br/><br/>
        •   Created an instant messaging app that allows multiple users to login and chat with each other in real-time
        <br/>
        •	Used Passport.js to allow users to login using Facebook which the app retrieves their name and profile picture
        <br/>
        •	Used MongoDB which I hosted on Mongolab.com to store user information retrieved from Passport.js
        <br/>
        •	Used Socket.io as the real-time engine which updated the chatrooms, users and text in the chatrooms
        <br/>
        •	Used Node.js to create the web server that handles everything the web application needed to function
        <br/><br/>
     <a href="http://chatcat-rfelix.herokuapp.com" target="_blank" class="link tooltip" title='Chat App'>Heroku:  <i class="fa fa-external-link-square"></i></a>
        <br/>
     <a href="https://github.com/RichardFelix/Chat-App" target="_blank" class="link tooltip" title='Github'>Github:  <i class="fa fa-external-link-square"></i></a>

    </p>

    <p>
        <h3>Disaster Analysis</h3>
        <img class='col-12' src='../../img/data.png'>
        <br/><br/>
        •   Used Flume to get streaming data from Twitter using a Flume agent with Twitter Tokens
        <br/>
        •	Used Hive to query data in HDFS into two distinct tables for the two disasters
        <br/>
        •	Created an interactive heat map using Google Maps API and exported data
        <br/>
        •	Used D3.js to create a bar chart showing the time of day the tweets were put online
        <br/><br/>
     <a href="https://github.com/TCTseng/Disaster-Analysis-From-Tweets" target="_blank" class="link tooltip" title='Github'>Github:  <i class="fa fa-external-link-square"></i></a>
    </p>
        
    <p>
        <br/><br/>
        <a href="https://github.com/RichardFelix" target="_blank" class="link tooltip" title='GitHub'><i class="fa fa-github fa-2x"></i></a>
        &nbsp;&nbsp;
        <a href="https://bitbucket.org/RichardFelix" target="_blank" class="link tooltip" title='Bitbucket'><i class="fa fa-bitbucket fa-2x"></i></a>
    </p>
  </div>
</section>