section 
     div(class='box col-9 middle animated fadeInLeft')
            h1 Projects
            p UNDER CONSTRUCTION
                br 
                br
                a(href='https://github.com/RichardFelix', target='_blank', class='link') Github
                br
                a(href='https://bitbucket.org/RichardFelix', target='_blank', class='link') Bitbucket
                
