block vars 
doctype html
html(ng-app='myApp')
  head
    title #{title}
    meta(name='author', content='Richard C Felix')
    meta(name='description' content='Hi, I am Richard C Felix a Web Developer from NYC.  Looking for an energetic Web Developer look no further. :-) ')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    
    link(rel="icon" type="image/ico" href="../img/favicon.ico")
    
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='../css/style.css', rel='stylesheet', type='text/css')
    link(href='../css/animate.css', rel='stylesheet', type='text/css')
    link(href='../css/font-awesome.min.css', rel='stylesheet', type='text/css')
    
  body(style='background-size: cover')                  
    block body
        
  
    
    