block vars 
doctype html
html
  head
    title #{title}
    meta(name='author', content='Richard Felix')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='../css/style.css', rel='stylesheet', type='text/css')
    link(href='../css/animate.css', rel='stylesheet', type='text/css')
    
    script(src='../js/load.js', type='text/javascript')

  body
   section
     div(class='padding-bottom padding-top')
        div(class='text-center col-9 middle')
           img(class='animated fadeIn' id='img' src='../img/logo.png')   
    block body
    
    