block vars 
doctype html
html(ng-app='myApp')
  head
    title #{title}
    meta(name='author', content='Richard C Felix')
    meta(name='description' content='Hi, I am Richard C Felix a Web Developer from NYC.  Looking for an energetic Web Developer look no further. :-) ')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    
    link(rel="icon" type="image/ico" href="../public/img/favicon.ico")
    
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='../public/css/style.css', rel='stylesheet', type='text/css')
    link(href='../public/css/animate.css', rel='stylesheet', type='text/css')
    link(href='../public/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    
    script.
      window.onload = function(){
      if(window.innerWidth < 700 ){
      document.getElementById('img').setAttribute('class','col-12');
      //document.body.style.backgroundImage = "url('../public/img/1-mobile.jpg')";
      document.getElementById('box').style.width = window.innerWidth;
      document.getElementById('item').style.marginLeft = "300px";
      }else{
      //document.body.style.backgroundImage = "url('../public/img/1.jpg')"
      document.getElementById('box').style.width = "350px";
      }
      };
  body              
    block body
        
  
    
    