extends base

block vars
  - var title = 'Ricahrd C Felix'

block body
  section(class='logo')
      a(href='/menu')
        div(class='padding-bottom padding-top')
            div(class='text-center col-9 middle')
                img( id='img' src='../img/logo.png') 
  div(ng-view class='animation')
        
  include script.jade
  include footer.jade