extends base

block vars
  - var title = 'Ricahrd C Felix'

block body
               
     div(class='padding-bottom')
       a(href='about')
         div(class='box col-9 middle animated fadeInLeft')
            h1 About Me
            
     div(class='padding-bottom')
        a(href='/resume')
          div(class='box col-9 middle animated fadeInRight')
             h1 Resume
            
     div(class='padding-bottom') 
        a(href='/projects')
          div(class='box col-9 middle animated fadeInLeft')
             h1 Projects
            
     div(class='padding-bottom')
        a(href='/contact')
          div(class='box col-9 middle animated fadeInRight')
             h1 Contact