extends base

block vars
  - var title = 'Ricahrd C Felix'

block body
    section
     div(class='outsideDiv')
        div(class='text-center col-9 middle')
           h1 RCF logo
            
     div(class='outsideDiv')
       a(href='about.jade')
         div(class='box col-9 middle')
            h1 About Me
            
     div(class='outsideDiv')
        a(href='')
          div(class='box col-9 middle')
             h1 Resume
            
     div(class='outsideDiv') 
        a(href='')
          div(class='box col-9 middle')
             h1 Projects
            
     div(class='outsideDiv')
        a(href='')
          div(class='box col-9 middle')
             h1 Contact
