extends base

block vars
  - var title = 'Ricahrd C Felix'

block body
    section
     div(class='outsideDiv')
        div(class='text-center col-9 middle')
           h1 RCF logo
            
     div(class='outsideDiv')
       a(href='/about')
         div(class='box col-9 middle animated fadeInLeft')
            h1 About Me
            
     div(class='outsideDiv')
        a(href='/resume')
          div(class='box col-9 middle animated fadeInRight')
             h1 Resume
            
     div(class='outsideDiv') 
        a(href='/projects')
          div(class='box col-9 middle animated fadeInLeft')
             h1 Projects
            
     div(class='outsideDiv')
        a(href='/contact')
          div(class='box col-9 middle animated fadeInRight')
             h1 Contact