extends base

block vars
  - var title = 'Richard C Felix'

  div(id='box' class='middle padding-top')
    div(id='screen' class='middle')
     
block body  
  div(ng-view class='animation')

        
  include script.jade
  include footer.jade