/*********************
    General Scope
**********************/
body{
    background-color: #4b6f7c;
    font-family: Open Sans;
    background-repeat: no-repeat;
    background-size: cover;
}
.fontSize24{
    font-size: 20px;
}
.box{
    background: white;
    border-radius: 1em;
    padding: 15px;
    box-shadow: 10px 10px 5px #000000;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.myPic{
    border-radius: 50%;
    width: 200px;
	height: 200px;
}

/*********************
        Links
**********************/
a{
    color: #25383f;
    text-decoration:none;
}
.link:hover{
    color: #fc0707;
}
.boxhover:hover{
    color: white;
    background: #25383f;
}
.tooltip{
    display: inline;
    position: relative;
}

/*********************
     Responsive
**********************/
.col-3 {
    width: 25%;
}
.col-6{
    width: 50%;
}
.col-9{
    width: 85%;
}
.col-12{
    width: 100%;
}

/*********************
     Positioning
**********************/
.middle{
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}
.text-center{
    text-align: center;
}
.padding-bottom{
    padding-bottom: 1cm;
}
.padding-top{
    padding-top: 1cm;
}

/***************************
      Animations
***************************/
.animation.ng-enter {
  animation: zoomInDown 1s;
}

.animation.ng-leave {
  animation: zoomOutDown .5s;
}